/* LAYOUT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* / LAYOUT */

/* REGOLE GENERALI */
body {
  position: relative;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.w-50 {
  width: 50%;
}

hr {
  width: 96%;
  margin: 0 2%;
}
/* /REGOLE GENERALI */

/* HEADER */
header {
  height: 550px;
  background-color: #0c325a;
}

.h-container {
  width: 100%;
  height: 100%;
  padding: 0 10%; /* SPOSTO SOLO IL CONTENUTO MA OCCUPA TUTTO LO SPAZIO*/
  min-width: 1400px;
  background-image: url(img/background-header.png);
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: 115% 100%;
}

.h-nav {
  height: 80px;
  line-height: 80px;
  overflow: hidden;
}

.h-logo {
  width: 15%;
}

.h-logo img {
  margin-top: 15px;
}

.h-nav-center {
  width: 45%;
}

.h-nav-right {
  width: 40%;
  text-align: right;
}
/* /HEADER */

/* MENU HEADER */
.menu-inline {
  list-style: none;
}

.menu-inline li {
  display: inline;
  padding: 0 10px;
}

.menu-inline li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 80%;
}
/* /MENU HEADER */

/* BOTTONI */
.btn {
  display: inline-block; /* per dimensionare */
  color: white;
  border-radius: 5px;
  line-height: 20px;
  padding: 5px 10px;
  text-decoration: none;
}
.btn.btn-blu {
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid white;
}
.btn.btn-green {
  background-color: #7cbb04;
  border: 1px solid #7cbb04;
}
.btn.btn-large {
  padding: 20px;
}
/* /BOTTONI */

/* AZIONI BOTTONI */
.menu-inline li:hover a {
  color: red;
}

.menu-inline li:active a {
  color: coral;
}

.btn.btn-green:hover {
  color: #0c325a;
}

.btn.btn-green:active {
  color: grey;
}
/* / AZIONI BOTTONI */

/* TESTO HEADER */
.jumbotron {
  position: relative;
  height: 470px;
}
.jumbo-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.jumbo-text h1 {
  color: white;
  font-size: 350%;
  margin-bottom: 30px;
}
/* /TESTO HEADER */

/* RIGA-GRIGIA */
.riga-grigia {
  width: 100%;
  height: 100px;
  background-color: #d3d3d3;
  text-align: center;
  padding: 20px 0;
  line-height: 35px;
}
/* /RIGA-GRIGIA */

/* TESTO RIGA-GRIGIA */
.riga-grigia h1 {
  font-size: 25px;
}

.riga-grigia h5 {
  font-size: 18px;
  color: #838383;
}
/* / TESTO RIGA-GRIGIA */

/* CONTAINER COLONNE */
.container-colonne {
  width: 100%;
  padding: 0 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/* DETTAGLI GRANDEZZA COLONNE*/
.colonna-sx,
.colonna-center,
.colonna-dx {
  width: 32%;
}

.colonna-center {
  margin: 0 2%;
}
/* / DETTAGLI GRANDEZZA COLONNE*/

/* CONTENUTO COLONNE */
.colonna-sx img,
.colonna-center img,
.colonna-dx img {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}

.colonna-sx h1,
.colonna-center h1,
.colonna-dx h1 {
  width: 100%;
  height: 100px;
  color: #7fbc09;
  font-size: 30px;
}

.colonna-sx hr,
.colonna-center hr,
.colonna-dx hr {
  width: 25%;
  margin: auto;
}

.colonna-sx p,
.colonna-center p,
.colonna-dx p {
  font-size: 20px;
  padding: 20px 10px;
  color: #848484;
}
/* / CONTENUTO COLONNE */

/* CONTAINER RIQUADRO DOPPIO */
.container-riquadro-doppio {
  width: 100%;
  padding: 0 10%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.riquadro-doppio-sx,
.riquadro-doppio-dx {
  width: 49%;
}
/* / CONTAINER RIQUADRO DOPPIO */

/* CONTENUTO RIQUADRI DOPPI */
.riquadro-doppio-sx img {
  width: 100%;
}

.riquadro-doppio-dx .text {
  width: 100%;
  font-size: 27px;
  padding-left: 94px;
}

.riquadro-doppio-dx .text p {
  font-size: 23px;
  color: #818181;
  padding: 40px 0px;
}

.riquadro-doppio-dx .text a {
  color: #5787bd;
  font-size: 18px;
}
/* / CONTENUTO RIQUADRI DOPPI */

/* FOOTER */
footer {
  position: relative;
  width: 100%;
  padding: 0 5%;
  height: 100px;
  background-color: #d3d3d3;
}

footer h1,
footer .text-dx {
  width: 49%;
  line-height: 100px;
  display: inline-block;
}

footer .text-dx {
  text-align: right;
}

.sottolineata {
  padding: 0 30px;
  font-size: 20px;
  text-decoration: underline;
}

footer .text-dx span {
  color: #818181;
}
/* /FOOTER */

/* LINGUETTA HELP */
.help {
  position: fixed;
  bottom: 0;
  right: 5%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
/* /LINGUETTA HELP */
